.login {
    background-image: url('/public/img/library-hero.jpg');
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .form {
    background-color: rgba(0, 155, 155, 0.2);
    padding: 4em;
    border-radius: 1em;
    backdrop-filter: blur(5px);
}

.login .form-item {
    /* background-color: lightcyan; */
}

.login .form-item label {
    color: white;
    background-color: cyan;
    display: block;
    width: 100px;
    padding: .5em;
    border-radius: .5em .5em 0 0;
}

.login .form-item input {
    padding: .5em;
    margin-bottom: .5em;
    border-radius: 0 .5em .5em .5em;
    border: none;
}

.login button {
    padding: 1em;
    border-radius: .5em;
    border: none;
    background-color: navy;
    color: white;
}